body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    width: 0;
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
}

.overlay-content {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background: #003266;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover {
    z-index: 1;
    color: grey;
}

.in {
    margin-top: 400px;
}

p {
    background-color: red;
}